.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E6E6FB;
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    height: auto;
    box-shadow: 24px;
    padding: 16px;
    border-radius: 8px;
    color: black;
}

.modalHeader {
    margin-bottom: 16px;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.modalActions button {
    margin-left: 8px;
    min-height: 40px;
    border: none;
    background-color: #005028;
    font-size: 16px;
    color: white;
    height: auto;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 1%;
}

.modalActions button:hover {
    margin-left: 8px;
    min-height: 40px;
    border: none;
    background-color: #005028;
    font-size: 16px;
    color: white;
    height: auto;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 1%;
}