.addEvent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;  
}


.btnCircle {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #000f07c4;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 10px 20px 26px rgba(0, 0, 0, 0.6);
    margin-top: 1%;
    margin-bottom: 40px;
    margin-right: 1%;
    margin-left: 1%;
    z-index: 999;
}

.btnCircle:hover{
    margin-bottom: 10px}

.hideMenu

.btnAdd:hover {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.6);
}